<nav class="position-sticky top-0 z-3 w-100 h-auto bg-black text-white shadow shadow-lg p-4 d-flex flex-row mb-3">
  <div class="navbar-wrapper container-md">
    <div class="navbar-brand">Store</div>
    <ul class="w-100 d-flex flex-row gap-3 list-unstyled px-3 m-0">
      <li><a class="text-decoration-none btn btn-light" href="/">Home</a></li>
      <li><a class="text-decoration-none btn btn-light" href="/products">Products</a></li>
    </ul>
  </div>
</nav>